body{
	margin: 0;
	padding: 0;
	z-index: 1;
}

h1{
	font-family:verdana;
	color:#000000;
	font-size:32px;
	text-align:center;
}
a:link{
	color:#2c3e50;
}
a:visited {
	color:e4e4e2;
}
a:hover {
	color:e4e4e2
	text-decoration:underline;
}
a:active {
	color:e4e4e2
	text-decoration:underline;
}


#menuarea{
	margin: -10px auto;
	z-index:5;
	top: 0px;
	position: fixed;
	width: 100%;
	border: auto auto -20px auto;
	padding: auto 0px auto 0px;
	background: white;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	white-space:nowrap;
	height:45px;
}

#menu{
	border-collapse:separate;
	border-spacing:20px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.currentpage{
	color:#9b59b6;
}
#menu a:link{
	text-decoration:none;
}
#menu a:visited {
	text-decoration:none;
}
#menu a:hover {
	color:#9b59b6;
	text-decoration:none;
}
#menu a:active {
	text-decoration:none;
}

#bg { position: fixed; top: 0; left: 0; opacity:.85;}
.bgwidth { width: 100%; opacity:.85;}
.bgheight { height: 100%; }

#page-wrap{
	top: 66px;
	left: 200px;
	position: absolute;
	width: 400px;
	margin: 50px auto;
	padding: 20px;
	background: white;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	z-index:2;
}